{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}

    <link href="{% static "css/dark-hive/jquery-ui-1.10.4.custom.min.css" %}" rel="stylesheet">

    <div class="panel panel-default">
        <div class="panel panel-heading">Buscar ajuste</div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="txtTienda">Tienda</label>
                        <input type="text" name="txtTienda" class="form-control obligatorio" id="txtTienda" placeholder="Numero de tienda" maxlength="5" value="{{Tienda}}" />
                    </div>
                    <div class="col-sm-2">
                        <label for="txtNumCte">Num. Cte.</label>
                        <input type="text" name="txtNumCte" class="form-control" id="txtNumCte" maxlength="10" value="{{numcte}}"/>
                    </div>
                    <div class="col-sm-2">
                        <label for="txtFechaInicial">Fecha inicial</label>
                        <input type="text" name="txtFechaInicial" class="form-control obligatorio datepicker" id="txtFechaInicial" placeholder="dd/mm/yyyy" maxlength="10" value="{{FechaInicial|date:"SHORT_DATE_FORMAT"}}"/>
                    </div>
                    <div class="col-sm-2">
                        <label for="txtFechaFinal">Fecha final</label>
                        <input type="text" name="txtFechaFinal" class="form-control obligatorio datepicker" id="txtFechaFinal" placeholder="dd/mm/yyyy" maxlength="10" value="{{FechaFinal|date:"SHORT_DATE_FORMAT"}}"/>
                    </div>
                </div>
                
                <button class="btn btn-primary"  id="launchModal" style="margin-top: 10px;">
                    Buscar
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" id="ajuste" name="ajuste">
    <div class="panel panel-default">
        <div class="panel panel-heading">Ajuste</div>
        <div class="panel-body">            
            <div class="container">
                <table id="ajusteSeleccionado" class="table table-striped table-hover" style="width:95%;">
                    <thead>
                    <tr  class="success header">
                        <td style="display: none">id</td>
                        <td>NumCte</td>
                        <td>Tienda</td>
                        <td>Fecha Recepcion</td>
                        <td>NumEmpleado</td>
                        <td>NumCuentas</td>
                        <td>Monto</td>                        
                    </tr>
                    </thead>
                </table>
                
                <div class="row">
                    <div class="col-sm-2">
                        <label for="txtFolio">Folio SA</label>
                        <input type="text" name="txtFolio" class="form-control obligatorioGrabar" id="txtFolio" placeholder="Folio de la S.A." maxlength="500" />
                    </div>
                    <div class="col-sm-2">
                        <label for="txtDestinatario">Destinatario</label>
                        <input type="text" name="txtDestinatario" class="form-control obligatorioGrabar" id="txtDestinatario" placeholder="Destinatario de la S.A." maxlength="500" />
                    </div>
                    <div class="col-sm-2">
                        <label for="txtPuesto">Puesto</label>
                        <input type="text" name="txtPuesto" class="form-control obligatorioGrabar" id="txtPuesto" placeholder="Puesto del destinatario" maxlength="500" />
                    </div>
                    
                    <div class="col-sm-2">
                        <label for="txtFecha">Fecha</label>
                        <input type="text" name="txtFecha" class="form-control obligatorioGrabar datepicker" id="txtFecha" placeholder="dd/mm/yyyy" maxlength="10" />
                    </div>
                                        
                    <div class="col-sm-3">
                        <label for="txtTema">Tema</label>
                        <input type="text" name="txtTema" class="form-control obligatorioGrabar" id="txtTema" placeholder="Tema de la SA" maxlength="5000" />
                    </div>
                </div>
                <button class="btn btn-primary" id="Grabar" style="margin-top:15px;" disabled="disabled">Grabar</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel panel-heading">S.A. registradas</div>
        <div class="panel-body">            
            <div class="container">
                <table id="SeguimientoSA" class="table table-striped table-hover" style="width:95%;">
                    <thead>
                        <tr  class="success header">
                            <td>Folio</td>
                            <td>Destinatario</td>                            
                            <td>Puesto</td>
                            <td>Tema</td>
                            <td>Fecha</td>
                        </tr>                            
                    </thead>
                </table>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ajustes encontrados</h4>
      </div>
      <div class="modal-body">
            <table id="tablaAjustes" class="table table-striped table-hover" >
                <thead>
                <tr  class="success header">
                    <td style="display: none">id</td>
                    <td>NumCte</td>
                    <td>Tienda</td>
                    <td>Fecha Recepcion</td>
                    <td>NumEmpleado</td>
                    <td>NumCuentas</td>
                    <td>Monto</td>
                    <td>Selec.</td>
                </tr>
                </thead>
                <tr>
                    
                </tr>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="GuardarOtro">Seleccionar</button>        
      </div>
    </div>
  </div>
</div>
<!-- FIN Modal -->

<script src="{% static "js/Utilerias.js" %}"></script>
<script src="{% static "js/json2.min.js" %}"></script>
<script src="{% static "js/jquery.form.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/datepickerUtil.js" %}"></script>


<script type="text/javascript">
    var renglon=null;
    $(function(){
        $("li").removeClass("active");
        $("#SA").addClass("active");
                
        dtpConfig();
        $("#launchModal").on("click",function(){
            if(DatosCompletos())
            {
                $('#myModal').modal('show');
                BuscoAjustes();
            }
        });
        
        $("#Grabar").on("click",function(){
            if(DatosCompletos("obligatorioGrabar"))
            {
                Grabar();
            }
        });
        /////////////////////////////|||)
        ///////MANEJO DE MODAL///////|||)
        /////////////////////////////|||)        
        $('#myModal').on('hidden.bs.modal', function () {
            var row=$(".selec:checked").parent().parent().html();            
            $("#ajusteSeleccionado tr:gt(0)").remove();            
            if (row!=null) {
                $("#ajusteSeleccionado").append("<tr>"+row+"</tr>");
                $("#ajusteSeleccionado:last").find("td:last").remove();
                
                PostCargaAjuste();
            }
        })
        
        {% if not BusquedaAjuste %}
            //BuscoAjusteEspecifico();
        {% endif %}
    });
    /////////////////////////////|||)
    ///////GRABAR S.A.    ///////|||)
    /////////////////////////////|||)
    Grabar=function(){
                var sa={};
                sa.ajuste=$("#ajuste").val();
                sa.folio=$("#txtFolio").val();
                sa.destinatario=$("#txtDestinatario").val();
                sa.puesto=$("#txtPuesto").val();
                sa.fecha=$("#txtFecha").val();
                sa.tema=$("#txtTema").val();
                
                var ajax = {
                type: "POST",
                async: true,
                dataType: "JSON",
                url: "/ajustes/ajax/GrabarSA/",
                data: JSON.stringify(sa),
                error: function (xhr, status, error) {
                    alert("Ocurrio un error: " + error + ":" + eval(xhr).responseText);
                },
                success: function (data) {                    
                    d=eval(data);
                    $("#tablaAjustes tr:gt(0)").remove();
                    if (d.error) {                        
                        alert(d.mensaje);                        
                    }
                    else
                    {
                        var tabla = "<tr><td>"+
                                            $("#txtFolio").val()
                                        +"</td><td>"+
                                            $("#txtDestinatario").val()
                                        +"</td><td>"+
                                            $("#txtPuesto").val()
                                        +"</td><td>"+
                                            $("#txtTema").val()
                                        +"</td><td>"+
                                            $("#txtFecha").val()                                        
                                        +"</td></tr>";
                        $("#SeguimientoSA").append(tabla);
                        alert("SA registrada con exito");
                    }
                }
            };
            $.ajax(ajax);        
        };
    /////////////////////////////|||)
    /////BUSQUEDA DE AJUSTES/////|||)
    /////////////////////////////|||)
    BuscoAjusteEspecifico =function()
    {
        var ajuste={
                    "id":{{id}}
                }
        var Datos={
            "Ajustes":ajuste
        };
        /////////////////////////////|||)
        ///////ENVIO DATA AJAX///////|||)
        /////////////////////////////|||)
        var ajax = {
                type: "POST",
                async: true,
                dataType: "JSON",
                url: "/ajustes/ajax/BuscarAjuste/",
                data: JSON.stringify(Datos),
                error: function (xhr, status, error) {
                    alert("Ocurrio un error: " + error + ":" + eval(xhr).responseText);
                },
                success: function (data) {                    
                    d=eval(data);
                    $("#tablaAjustes tr:gt(0)").remove();
                    if (d.error) {                        
                        alert(d.mensaje);
                        $('#myModal').modal('toggle');
                    }
                    else
                    {
                        AgregoAjuste(d,"ajusteSeleccionado");
                        $("#ajusteSeleccionado:last-child").find("td:last").remove();
                        PostCargaAjuste();
                    }
                }
            };
            $.ajax(ajax);
        
    }
    BuscoAjustes= function(){        
        var ajuste={
                    "tienda":$("#txtTienda").val(),
                    "numcte":$("#txtNumCte").val(),
                    "centro":$("#cmbCentro :selected").val(),
                    "fechaInicial":$("#txtFechaInicial").val(),
                    "fechaFinal":$("#txtFechaFinal").val()
                }
        var Datos={
            "Ajustes":ajuste
        };
        /////////////////////////////|||)
        ///////ENVIO DATA AJAX///////|||)
        /////////////////////////////|||)
        var ajax = {
                type: "POST",
                async: true,
                dataType: "JSON",
                url: "/ajustes/ajax/BuscarAjustes/",
                data: JSON.stringify(Datos),
                error: function (xhr, status, error) {
                    alert("Ocurrio un error: " + error + ":" + eval(xhr).responseText);
                },
                success: function (data) {                    
                    d=eval(data);
                    $("#tablaAjustes tr:gt(0)").remove();
                    if (d.error) {                        
                        alert(d.mensaje);
                        $('#myModal').modal('toggle');
                    }
                    else
                    {
                        AgregoAjuste(d,"tablaAjustes");                        
                    }
                }
            };
            $.ajax(ajax);
    }
    
    AgregoAjuste=function (d,tablaID){
                        ajustes=eval(d.ajustes);
                        if (ajustes!=null) {
                            $.each(ajustes, function(index, value) {
                                var tabla="<tr><td style='display: none'>"+
                                    value.pk
                                    +"</td><td>"+
                                    value.fields.NumCte
                                    +"</td><td>"+
                                    value.fields.Tienda
                                    +"</td><td>"+
                                    value.fields.FechaRecepcion
                                    +"</td><td>"+
                                    value.fields.NumEmpleado
                                    +"</td><td>"+
                                    value.fields.NumCuentas
                                    +"</td><td>"+
                                    value.fields.Monto
                                    +"</td><td><input type='checkbox' class='selec'></td></tr>";
                                $("#"+tablaID).append(tabla);
                                $(".selec").change(function(){
                                        $(".selec").not(this).attr("checked", false);
                                    });
                            });
                        }
                }
    /////////////////////////////|||)
    ///////MANEJO POST ENVIO/////|||)
    /////////////////////////////|||)     
    PostCargaAjuste=function()
        {
            $("#Grabar").removeAttr("disabled");
            $("#ajuste").val( $("#ajusteSeleccionado tr:eq(1)> td:eq(0)").text());
            ObtengoSAs();
        };
    ObtengoSAs=function(){            
                var ajuste={
                    "id":$("#ajuste").val()
                }
                var Datos={
                    "Ajustes":ajuste
                };
                /////////////////////////////|||)
                ///////ENVIO DATA AJAX///////|||)
                /////////////////////////////|||)
                var ajax = {
                        type: "POST",
                        async: true,
                        dataType: "JSON",
                        url: "/ajustes/ajax/BuscarSAs/",
                        data: JSON.stringify(Datos),
                        error: function (xhr, status, error) {
                            alert("Ocurrio un error: " + error + ":" + eval(xhr).responseText);
                        },
                        success: function (data) {                    
                            d=eval(data);                            
                            $("#SeguimientoSA tr:gt(0)").remove();
                            if (d.error) {                        
                                alert(d.mensaje);                               
                            }
                            else
                            {
                                sas=eval(d.sas);
                                if (sas!=null) {
                                    $.each(sas, function(index, value) {
                                        var tabla="<tr><td>"+
                                            value.fields.Folio
                                            +"</td><td>"+
                                            value.fields.Destinatario
                                            +"</td><td>"+
                                            value.fields.Puesto
                                            +"</td><td>"+
                                            value.fields.Tema
                                            +"</td><td>"+
                                            value.fields.Fecha                                        
                                            +"</td></tr>";
                                        $("#SeguimientoSA").append(tabla);
                                    });
                                }
                            }
                        }
                    };
                    $.ajax(ajax); 
    };
</script>    
{% endblock %}
