{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}
    <link href="{% static "css/dark-hive/jquery-ui-1.10.4.custom.min.css" %}" rel="stylesheet">

    <h3>Ajustes cancelados</h3>
    <div>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                            <label for="txtTienda">Tienda</label>
                            <input type="text" name="txtTienda" class="form-control" id="txtTienda" placeholder="Numero de tienda" maxlength="5"
                                   {%if Tienda > 0 %}
                                        value="{{Tienda}}"
                                    {% endif %}/>
                    </div>                        
                    <div class="col-sm-2">
                        <label for="cmbRegion">Regiones</label>
                        <select id="cmbRegion" name="cmbRegion" class="form-control">
                            <option value="-1">Todos</option>
                            {%for r in regiones%}                                
                                <option value="{{r.id}}"
                                        {%if r.id == Region%}
                                            selected
                                        {%endif%}
                                 >{{r.NombreRegion}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="fechaInicial">Fecha Inicial</label>
                        <input type="text" name="fechaInicial" class="form-control datepicker obligatorio" id="fechaInicial"
                               placeholder="dd/mm/yyyy" maxlength="10" value="{{FechaInicial|date:"SHORT_DATE_FORMAT"}}" />
                    </div>
                    <div class="col-sm-2">
                        <label for="fechaFinal">Fecha Final</label>
                        <input type="text" name="fechaFinal" class="form-control datepicker obligatorio" id="fechaFinal"
                               placeholder="dd/mm/yyyy" maxlength="10" value="{{FechaFinal|date:"SHORT_DATE_FORMAT"}}" />
                    </div>                    
                </div>
                <input id="btnBuscar" type="submit" value="Buscar" class="btn btn-primary" style="margin-top:15px;margin-bottom: 15px;"/>
            </div>
                <div class="panel panel-default">
        <div class="panel panel-heading">Ajustes</div>
        <div class="panel-body">            
            <div class="container">
                <table id="ajusteSeleccionado" class="table table-striped table-hover" style="width:95%;">
                    <thead>
                    <tr  class="success header">
                        <td style="display: none">id</td>
                        <td>NumCte</td>
                        <td>Tienda</td>
                        <td>Fecha Recepcion</td>
                        <td>Num. Empleado</td>
                        <td>Num. Cuentas</td>
                        <td>Monto</td>
                        <td>Ver</td>
                    </tr>
                    </thead>
                    {%for a in Datos %}
                    <tr>                        
                        <td style="display: none">
                            {{a.id}}
                        </td>
                        <td>
                            {{a.NumCte}}
                        </td>
                        <td>
                            {{a.Tienda}}
                        </td>
                        <td>
                            {{a.FechaRecepcion|date:"SHORT_DATE_FORMAT"}}
                        </td>
                        <td>
                            {{a.NumEmpleado}}
                        </td>
                        <td>
                            {{a.NumCuentas}}
                        </td>
                        <td>
                            {{a.Monto}}
                        </td>
                        <td>
                            <a href="/ajustes/Ajuste/{{a.id}}"
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
        </form>
        
    </div>
        
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/datepickerUtil.js" %}"></script>

    <script type="text/javascript">
        $(function(){
           $("li").removeClass("active");
           $("#Reportes").addClass("active");

            dtpConfig();
            {% if Error %}
               alert("{{MensajeError}}");
            {%endif%}
       });        
    </script>    
{% endblock %}

<!--http://www.jqplot.com/tests/point-labels.php-->